@page
@model Management_Of_Educational_Cycles.View.Pages.EducationalCycles.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EducationalCycle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EducationalCycle.Id" />
            <div class="form-group">
                <label asp-for="EducationalCycle.Name" class="control-label"></label>
                <input asp-for="EducationalCycle.Name" class="form-control" />
                <span asp-validation-for="EducationalCycle.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationalCycle.TypeOfClasses" class="control-label"></label>
                <input asp-for="EducationalCycle.TypeOfClasses" class="form-control" />
                <span asp-validation-for="EducationalCycle.TypeOfClasses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationalCycle.NumberOfHours" class="control-label"></label>
                <input asp-for="EducationalCycle.NumberOfHours" class="form-control" />
                <span asp-validation-for="EducationalCycle.NumberOfHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationalCycle.Semester" class="control-label"></label>
                <input asp-for="EducationalCycle.Semester" class="form-control" />
                <span asp-validation-for="EducationalCycle.Semester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
