@page
@model Management_Of_Educational_Cycles.View.Pages.Departments.DetailsModel

<div>
    <h4>@Model.Department.Name</h4>
    <hr />

</div>
@await Html.PartialAsync("_GroupsList", Model.Department.Groups)
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Department.Id">Edit</a> |
    <a asp-page="./Index">Повернутися до списку</a>
</div>
