@page
@model Management_Of_Educational_Cycles.View.Pages.Teachers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Teacher.Name" class="control-label"></label>
                <input asp-for="Teacher.Name" class="form-control" />
                <span asp-validation-for="Teacher.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Surname" class="control-label"></label>
                <input asp-for="Teacher.Surname" class="form-control" />
                <span asp-validation-for="Teacher.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Department" class="control-label"></label>
                <input asp-for="Teacher.Department.Name" class="form-control" />
                <span asp-validation-for="Teacher.Department.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Faculty" class="control-label"></label>
                <input asp-for="Teacher.Faculty.Name" class="form-control" />
                <span asp-validation-for="Teacher.Faculty.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
