@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо!)</h1>
</div>
<div>
    <a class="page-link" asp-area="" asp-page="/Faculties/Index">Факультети</a><br /><br />
    <a  class="page-link" asp-area="" asp-page="/Departments/Index">Кафедри</a><br /><br />
    <a  class="page-link" asp-area="" asp-page="/Groups/Index">Групи</a><br /><br />
    <a  class="page-link" asp-area="" asp-page="/Disciplines/Index">Дисципліни</a><br /><br />
    <a  class="page-link" asp-area="" asp-page="/Teachers/Index">Викладачі</a>
</div>