@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <a asp-area="" asp-page="/Departments/Index">Show departments</a><br /><br />
    <a asp-area="" asp-page="/Disciplines/Index">Show disciplines</a><br /><br />
    <a asp-area="" asp-page="/Faculties/Index">Show faculties</a><br /><br />
    <a asp-area="" asp-page="/Groups/Index">Show groups</a><br /><br />
    <a asp-area="" asp-page="/Teachers/Index">Show teachers</a>
</div>